<section class="resume-section" id="contact">
    <div class="resume-section-content">

        <form method="post">
            <h2 class="mb-5">İletişim</h2>
            <label>Ad Soyad</label>
            <input type="text" name="NameSurname" class="form-control" />
            <br />
            <label>Email</label>
            <input type="email" name="Email" class="form-control" />
            <br />
            <label>Konu</label>
            <input type="text" name="Subject" class="form-control">
            <br />
            <label>Mesaj</label>
            <input type="text" name="Message" class="form-control" />
            <br />
            <button class="btn btn-info">Mesaj Gönder</button>
        </form>
    </div>
</section>
 