
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımda Menüsü</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Sehir</th>
    </tr>
    <tr>
        <td>1</td>
    </tr>
</table>

